<app-admin-layout>
  <app-admin-button message="add new" class="mt-[1rem] ml-auto" />
  <div class="table">
    <div class="thead">
      <h2>id</h2>
      <h2>name</h2>
      <h2>quantity</h2>
      <h2>status</h2>
      <h2>action</h2>
    </div>
    <div class="tbody">
      <div id="row-order-660e037f3f26005ee4a9b69b" class="row">
        <div>660e037f3f26005ee4a9b69b</div>
        <div>Men’s Fashion</div>
        <div>6</div>
        <div class="status-660e037f3f26005ee4a9b69b">show</div>
        <div>
          <a href="#" class="update" data-id="660e037f3f26005ee4a9b69b">Update</a>
        </div>
      </div>

      <div id="row-order-660e037f3f26005ee4a9b69c" class="row">
        <div>660e037f3f26005ee4a9b69c</div>
        <div>Women’s Fashion</div>
        <div>9</div>
        <div class="status-660e037f3f26005ee4a9b69c">show</div>
        <div>
          <a href="#" class="update" data-id="660e037f3f26005ee4a9b69c">Update</a>
        </div>
      </div>

      <div id="row-order-660e037f3f26005ee4a9b69d" class="row">
        <div>660e037f3f26005ee4a9b69d</div>
        <div>Women Accessories</div>
        <div>6</div>
        <div class="status-660e037f3f26005ee4a9b69d">show</div>
        <div>
          <a href="#" class="update" data-id="660e037f3f26005ee4a9b69d">Update</a>
        </div>
      </div>

      <div id="row-order-660e037f3f26005ee4a9b69e" class="row">
        <div>660e037f3f26005ee4a9b69e</div>
        <div>Men Accessories</div>
        <div>6</div>
        <div class="status-660e037f3f26005ee4a9b69e">show</div>
        <div>
          <a href="#" class="update" data-id="660e037f3f26005ee4a9b69e">Update</a>
        </div>
      </div>

      <div id="row-order-660e037f3f26005ee4a9b69f" class="row">
        <div>660e037f3f26005ee4a9b69f</div>
        <div>Discount Deals</div>
        <div>0</div>
        <div class="status-660e037f3f26005ee4a9b69f">show</div>
        <div>
          <a href="#" class="update" data-id="660e037f3f26005ee4a9b69f">Update</a>
        </div>
      </div>
    </div>
  </div>
</app-admin-layout>
