<div #notification id="notification">
  <div class="container-notification w-[40%]">
    <h2 class="font-bold text-center text-[3rem]">{{ message }}</h2>
    <button class="block rounded-[1rem] h-auto align-middle text-[2rem]
     bg-[#000] text-white text-center capitalize shadow-button-shadow
     border border-white border-solid transition-all ease-in-out duration-200
     hover:bg-[#fff] hover:text-black hover:border hover:border-black hover:border-solid px-[2rem] py-[1rem] w-[30%] mx-auto mt-[2rem]" (click)="click()">Xác nhận
    </button>
  </div>
</div>

