<app-admin-layout>
  <div class="table">
    <div class="thead">
      <h2>id</h2>
      <h2>Code</h2>
      <h2>Discount</h2>
      <h2>Max discount</h2>
      <h2>Date end</h2>
      <h2>Min amount</h2>
      <h2>expired</h2>
      <h2>action</h2>
    </div>
    <div class="tbody">
      @for(voucher of vouchersList; track voucher.id_voucher) {
        <div class="row" >
          <div>{{voucher.id_voucher}}</div>
          <div>{{voucher.code}}</div>
          <div>{{voucher.discount}}%</div>
          <div>{{transformCurrency(voucher.max_discount)}}</div>
          <div>{{ voucher.end_date }}</div>
          <div>{{ transformCurrency(voucher.max_discount)}}</div>
          <div>{{voucher.expired}}</div>
          <div>
            <a class="edit" href="#">Edit</a>
            /
            <a class="remove" href="#">Remove</a>
          </div>
        </div>
      }

    </div>
  </div>
</app-admin-layout>
