<app-admin-layout>
  <div class="table">
    <div class="thead">
      <h2>id</h2>
      <h2>information</h2>
      <h2>order date</h2>
      <h2>total</h2>
      <h2>status</h2>
      <h2>action</h2>
    </div>
    <div class="tbody">
      <div class="row">
        <div>6615c6467b06062a0eb0f626</div>
        <div>
          <div>Wrap : true</div>
          <div>Name : tienuser</div>
          <div>Ship Fee : 3.45$</div>
          <div>Distance : 2.3km</div>
          <div>Adress : 50 washington DC</div>
          <div>Phone number : 0338015137</div>
          <div>Email : dienndtps32003&#64;fpt.edu.vn</div>
        </div>
        <div>4/9/2024, 6:50:45 PM</div>
        <div>162.9$</div>
        <div>wait for confirmation</div>
        <div>
          <a class="detail" data-id="6615c6467b06062a0eb0f626" href="#">Detail</a>
          -
          <a class="update" data-id="6615c6467b06062a0eb0f626" href="#">Update</a>
        </div>
      </div>
    </div>
  </div>
</app-admin-layout>
