<app-admin-layout>
  <div class="table">
    <div class="thead">
      <h2>id</h2>
      <h2>name</h2>
      <h2>price</h2>
      <h2>speed</h2>
      <h2>status</h2>
      <h2>action</h2>
    </div>
    <div class="tbody">
      <div class="row ">
        <div>660e247a76a91a7ffa96b8e1</div>
        <div>US</div>
        <div>1.5</div>
        <div>slow</div>
        <div>active</div>
        <div>
          <a href="#" class="edit" data-id="660e247a76a91a7ffa96b8e1">edit</a> / <a href="#" class="remove" data-id="660e247a76a91a7ffa96b8e1">remove</a>
        </div>
      </div>
    </div>
  </div>
</app-admin-layout>
