<app-admin-layout>
  <div class="table">
    <div class="thead">
      <h2>Mã vận chuyển</h2>
      <h2>Tên đơn vị</h2>
      <h2>Giá/km</h2>
      <h2>Tốc độ</h2>
      <h2>Trạng thái</h2>
      <h2>Hành động</h2>
    </div>
    <div class="tbody">
      @for(delivery of deliveriesList; track delivery.id_delivery) {
        <div class="row">
          <div class="">#{{delivery.id_delivery}}</div>
          <div class="">{{delivery.name}}</div>
          <div class="">{{delivery.price}}</div>
          <div class="">{{delivery.speed}}</div>
          <div class="">{{deliveryStatus[delivery.status]}}</div>
          <div class="">
            <a class="text-[1.6rem] h-max cursor-pointer select-none">Sửa</a> / <a class="text-[1.6rem] h-max cursor-pointer select-none">Xóa</a>
          </div>
        </div>
      }
    </div>
  </div>
</app-admin-layout>
