<app-account-layout>
  <div class="container-full">
    <div class="main-img">
      <img ngSrc="assets/images/section/sign_in_banner19280.svg" fill priority="true" alt="">
    </div>
    <div class="content">
      <h1 class="logo"><a href="/">Fasco</a></h1>
      <div class="main-content">
        <h1 class="heading font-bold">Đăng Nhập</h1>
        <div class="flex">
          <div id="SignInWithGoogle" class="flex">
            <img src="assets/images/section/gg.svg" alt="">
            <div>Đăng nhập với Google</div>
          </div>
          <div class="flex">
            <img src="assets/images/section/facebook.png" alt="">
            <div>Đăng nhập với Facebook</div>
          </div>
        </div>
        <div class="line">- Hoặc -</div>
        <form class="formSignIn" (ngSubmit)="onLogin()" [formGroup]="formSignIn">
          <label for="SignInEmail">
            <input id="SignInEmail" formControlName="email" type="text" placeholder="Email">
            @if (formSignIn.get('email')?.value === '' && formSignIn.get('email')?.touched && formSignIn.get('email')?.dirty) {
              <span>Email không được để trống</span>
            } @else if (!formSignIn.get('email')?.valid && formSignIn.get('email')?.touched && formSignIn.get('email')?.dirty) {
              <span>Email phải đúng định dạng</span>
            }
          </label>
          <label for="SignInPassword">
            <input id="SignInPassword" formControlName="password" type="password" placeholder="Mật Khẩu">
            @if (formSignIn.get('password')?.value === '' && formSignIn.get('password')?.touched && formSignIn.get('password')?.dirty) {
              <span>Password không được để trống</span>
            } @else if (!formSignIn.get('password')?.valid && formSignIn.get('password')?.touched && formSignIn.get('password')?.dirty) {
              <span>Password phải có tối thiểu 6 kí tự</span>
            }
            <i id="eye" class="fa-solid fa-eye-slash"></i>
          </label>
          <span class="message_error" #message_error></span>
          <button type="submit" class="sign-in">Đăng Nhập</button>
          <a routerLink="/sign-up" routerLinkActive="active"
             ariaCurrentWhenActive="page" class="sign-up">Đăng Kí</a>
          <a routerLink="/forget-password" routerLinkActive="active"
             ariaCurrentWhenActive="page" class="forget">Quên mật khẩu?</a>
        </form>
      </div>
      <div class="footer">FASCO Terms & Codnitions</div>
    </div>
  </div>
  <app-notification message="Đăng nhập thành công" />
</app-account-layout>

