<app-main-layout>
  <div class="head">
    <h1 class="heading">Liên Hệ</h1>
    <div class="flex direction">
      <p class="">Trang Chủ</p>
      <svg xmlns="http://www.w3.org/2000/svg" width="7" height="9" viewBox="0 0 7 9" fill="none">
        <path d="M0.538124 0.140893L0.413829 0.26517C0.331458 0.347542 0.331458 0.4811 0.413829 0.563489L3.85023 3.99991L0.413829 7.43632C0.331458 7.5187 0.331458 7.65225 0.413829 7.73464L0.538124 7.85892C0.620495 7.94129 0.754054 7.94129 0.836425 7.85892L4.54631 4.14906C4.62868 4.06669 4.62868 3.93313 4.54631 3.85074L0.836425 0.140893C0.754054 0.0585044 0.620495 0.0585044 0.538124 0.140893Z" fill="black" stroke="black" stroke-width="0.0175781"/>
      </svg>
      <p class="">Liên Hệ</p>
    </div>
  </div>

  <section class="section1">

    <div class="heading">
      Liên hệ với chúng tôi trên các nền tảng mạng xã hội
    </div>

    <div class="content flex">

      <div class="left flex">

        <div class="top flex">

          <div class="icon">
            <img src="assets/images/contact/fb.svg" alt="" class="img-full">
          </div>

          <div class="des">
            facebook.com/Fasco
          </div>

        </div>

        <div class="bottom flex">

          <div class="icon">
            <img src="assets/images/contact/insta.svg" alt="" class="img-full">
          </div>

          <div class="des">
            instagram.com/Fasco
          </div>

        </div>

      </div>

      <div class="right flex">

        <div class="top flex">

          <div class="icon">
            <img src="assets/images/contact/twitter.svg" alt="" class="img-full">
          </div>

          <div class="des">
            twitter.com/Fasco
          </div>

        </div>

        <div class="bottom flex">

          <div class="icon">
            <img src="assets/images/contact/linked.svg" alt="" class="img-full">
          </div>

          <div class="des">
            linkedin.com/Fasco
          </div>

        </div>

      </div>

    </div>

  </section>

  <section class="section2">

    <div class="heading">
      Liên hệ với chúng tôi qua điện thoại :
    </div>

    <div class="content flex">

      <div class="phone flex">

        <div class="icon">
          <img src="assets/images/contact/phone.svg" alt="" class="img-full">
        </div>

        <div class="number">
          (+84) 338 015 137
        </div>

      </div>

      <div class="phone flex">

        <div class="icon">
          <img src="assets/images/contact/phone.svg" alt="" class="img-full">
        </div>

        <div class="number">
          (+84) 915 943 932
        </div>

      </div>

    </div>

  </section>

  <section class="section3">

    <div class="heading">
      Liên hệ trực tiếp:
    </div>

    <div class="detail">
      Đến ngay Fasco shop gần nhất để được hỗ trợ và tư vấn tận tình.
    </div>

    <div class="box-2 grid">

      <div class="box flex">

        <div class="img">
          <img ngSrc="assets/images/contact/map 1.svg" fill alt="" class="img-full">
        </div>

        <div class="name">
          Chi nhánh thành phố Hồ Chí Minh
        </div>

        <div class="address">
          215 Đường Điện Biên phủ, Phường 15, Bình Thạnh, Thành Phố Hồ Chí Minh
        </div>

      </div>

    </div>

  </section>
  <app-section7/>
</app-main-layout>
