<section class="section7 flex">
  <div class="banner_left">
    <img loading="lazy" src="assets/images/section/banner_footer2.svg" alt="">
  </div>
  <div class="mid_content">
    <h1 class="heading">Subscribe To Our Newsletter</h1>
    <div class="section7_content">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Scelerisque duis ultrices sollicitudin aliquam sem. Scelerisque duis ultrices sollicitudin
    </div>
    <label class="input_index flex" for="email_index">
      <input type="text" name="email_index" id="email_index" placeholder="michael@ymail.com" />
    </label>
    <app-main-button message="Subscribe Now" href="/" class="mt-[3rem] mx-auto px-[3rem] py-[1.5rem]" />
  </div>
  <div class="banner_right">
    <img loading="lazy" src="assets/images/section/banner_right.svg" alt="">
  </div>
</section>
