<section class="section7 flex">
  <div class="banner_left">
    <img loading="lazy" src="assets/images/section/banner_footer2.svg" alt="">
  </div>
  <div class="mid_content">
    <h1 class="heading capitalize">Theo dõi chúng tôi</h1>
    <div class="section7_content">
      Bằng việc cung cấp email, chúng tôi sẽ gửi cho bạn các thông báo quan trọng về chính sách ưu đãi và chăm sóc khách hàng của chúng tôi.
    </div>
    <label class="input_index flex" for="email_index">
      <input type="text" name="email_index" id="email_index" placeholder="emailcuabanj@gmail.com" />
    </label>
    <app-main-button message="đăng kí ngay" href="/" class="mt-[3rem] mx-auto px-[3rem] py-[1.5rem]" />
  </div>
  <div class="banner_right">
    <img loading="lazy" src="assets/images/section/banner_right.svg" alt="">
  </div>
</section>
