<app-main-layout>
  <section class="content">
    <section class="section1">
      <div class="header_section1 flex">
        <h1 class="heading">Giỏ Hàng</h1>
        <div class="link flex">
          <a href="#">Trang Chủ</a>
          <span>></span>
          <a href="#">Giỏ Hàng của tôi</a>
        </div>
      </div>
      <div class="main_cart">
        <div class="thead">
          <h1>Sản Phẩm</h1>
          <h1>Giá</h1>
          <h1>Số Lượng</h1>
          <h1>Tổng</h1>
        </div>
        <div class="line"></div>
        <div class="tbody flex">
          <div class="row cartItem-0">
            <div class="product flex">
              <img loading="lazy" src="assets/images/products/product5.svg" alt="">
              <div class="flex">
                <div class="name">Sản phẩm mẫu</div>
                <div class="color">Màu: #80B0D5  - Cỡ:  S</div>
                <div class="quantity">số lượng trong kho: 100</div>
                <a href="#" class="removeBtn" data-index="0">Xóa</a>
              </div>
            </div>
            <div class="price">200.000 VND</div>
            <div class="quantity_cart flex">
              <a href="/page/cart/#" class="downBtn" data-index="0">-</a>
              <span class="quantity-0">2</span>
              <a href="/page/cart/#" class="upBtn" data-index="0">+</a>
            </div>
            <div class="total total-0">
              400.000 VND
            </div>
          </div>
        </div>
        <div class="line"></div>
      </div>
      <div class="checkbox flex">
        <input type="checkbox"/>
        <div><span>30.000 VND</span> để gói đơn hàng tốt hơn</div>
      </div>
      <div class="line"></div>
      <div class="subtotal flex">
        <div>Tạm tính:</div>
        <div>400.000 VND</div>
      </div>
      <app-main-button class="ml-auto mt-[3rem] px-[18rem] py-[2rem]" message="thanh toán" href="/checkout" />
    </section>
    <app-section7 />
  </section>
</app-main-layout>
