
<div class="product_box">
  <a routerLink="/detail" class="img link">
    <img class="full" ngSrc="assets/images/products/{{image}}" priority alt="" fill>
  </a>
  <h1 class="name flex">
    <a class="link capitalize font-bold" href="detail/{{id}}">
      {{ name.length < 15 ? name : name.slice(0, 15) + '...' }}
    </a>
    <span class="uppercase">{{ size }}</span>
  </h1>
  <div class="price">
    {{price}} VND
  </div>
  <div class="tag flex">
    <div [style.background]="color"></div>
    <span class="text-[1.8rem]">{{designer}}</span>
  </div>
</div>

