<app-admin-layout>
  <app-admin-button message="add new" class="ml-auto mt-[1rem]" />
  <div class="table" id="table">
    <div class="thead">
      <h2>id</h2>
      <h2>name</h2>
      <h2>image</h2>
      <h2>category</h2>
      <h2>designer</h2>
      <h2>price</h2>
      <h2>color</h2>
      <h2>action</h2>
    </div>
    <div class="tbody">
      <div class="row">
        <div>660e05653f26005ee4a9b6a2</div>
        <div>Shiny Dress</div>
        <div class="img"><img loading="lazy" src="http://localhost:3000/images/uploads/product1.svg" alt=""></div>
        <div>Women’s Fashion</div>
        <div>Al Karam</div>
        <div>95$</div>
        <div>
          <span style="background: #E7B18B"></span>
        </div>
        <div><a data-id="660e05653f26005ee4a9b6a2" class="detailProduct" href="#">Detail</a></div>
      </div>

      <div class="row">
        <div>660e2f854d3d12cf9b22ecc4</div>
        <div>Long Dress</div>
        <div class="img"><img loading="lazy" src="http://localhost:3000/images/uploads/product2.svg" alt=""></div>
        <div>Women’s Fashion</div>
        <div>Daxuo</div>
        <div>20$</div>
        <div>
          <span style="background: #fff"></span>
        </div>
        <div><a data-id="660e2f854d3d12cf9b22ecc4" class="detailProduct" href="#">Detail</a></div>
      </div>

      <div class="row">
        <div>660e2fea4d3d12cf9b22ecc5</div>
        <div>Full Sweater</div>
        <div class="img"><img loading="lazy" src="http://localhost:3000/images/uploads/product3.svg" alt=""></div>
        <div>Women’s Fashion</div>
        <div>Riven</div>
        <div>30$</div>
        <div>
          <span style="background: #857061"></span>
        </div>
        <div><a data-id="660e2fea4d3d12cf9b22ecc5" class="detailProduct" href="#">Detail</a></div>
      </div>

      <div class="row">
        <div>660e30404d3d12cf9b22ecc6</div>
        <div>White Dress</div>
        <div class="img"><img loading="lazy" src="http://localhost:3000/images/uploads/product4.svg" alt=""></div>
        <div>Women’s Fashion</div>
        <div>Al Karam</div>
        <div>50$</div>
        <div>
          <span style="background: #fff"></span>
        </div>
        <div><a data-id="660e30404d3d12cf9b22ecc6" class="detailProduct" href="#">Detail</a></div>
      </div>

      <div class="row">
        <div>660e30a84d3d12cf9b22ecc7</div>
        <div>Colorful Dress</div>
        <div class="img"><img loading="lazy" src="http://localhost:3000/images/uploads/product5.svg" alt=""></div>
        <div>Women’s Fashion</div>
        <div>Katha</div>
        <div>24.7$</div>
        <div>
          <span style="background: #80B0D5"></span>
        </div>
        <div><a data-id="660e30a84d3d12cf9b22ecc7" class="detailProduct" href="#">Detail</a></div>
      </div>

      <div class="row">
        <div>660e31634d3d12cf9b22ecc9</div>
        <div>White Shirt</div>
        <div class="img"><img loading="lazy" src="http://localhost:3000/images/uploads/product6.svg" alt=""></div>
        <div>Women’s Fashion</div>
        <div>Abraham</div>
        <div>155.5$</div>
        <div>
          <span style="background: #fff"></span>
        </div>
        <div><a data-id="660e31634d3d12cf9b22ecc9" class="detailProduct" href="#">Detail</a></div>
      </div>
    </div>
  </div>
</app-admin-layout>
