<app-admin-layout>
  <app-admin-button message="add new" class="ml-auto mt-[1rem]" />
  <div class="table" id="table">
    <div class="thead">
      <h2>Mã sản phẩm</h2>
      <h2>Tên sản phẩm</h2>
      <h2>ảnh</h2>
      <h2>danh mục</h2>
      <h2>Nhà thiết kế</h2>
      <h2>giá</h2>
      <h2>màu</h2>
      <h2>hành động</h2>
    </div>
    <div class="tbody">
      @for(product of productsList; track product.id_product) {
        <div class="row">
          <div class="">{{product.id_product}}</div>
          <div class="">{{product.name}}</div>
          <div class="">
            <img [ngSrc]="API.image + product.image" width="100" height="100" class="mx-auto rounded-[.5rem]" alt="">
          </div>
          <div class="">{{product.category_name}}</div>
          <div class="">{{product.designer}}</div>
          <div class="">{{product.properties[0].price}}</div>
          <div class="">
            @for(pro of product.properties; track pro.price) {
              <div class="">{{pro.size}}</div>
            }
          </div>
          <div class="cursor-pointer select-none">Xem chi tiết</div>
        </div>
      }
    </div>
  </div>
</app-admin-layout>
