<section class="section5">
  <h1 class="heading">Theo dõi chúng tôi trên mạng xã hội</h1>
  <div class="section5_content">
    Hãy cùng chia sẻ trải nghiệm mua sắm tuyệt vời của bạn tại cửa hàng của chúng tôi trên các nền tảng mạng xã hội. Chúng tôi luôn mong muốn được kết nối và tương tác với khách hàng, vì sự hài lòng của quý khách là ưu tiên hàng đầu của chúng tôi.
  </div>
  <div class="line">
    <img loading="lazy" src="assets/images/products/img1_section5.svg" alt="img1_section5" class="img1_section5">
    <img loading="lazy" src="assets/images/products/img2_section5.svg" alt="img2_section5" class="img2_section5">
    <img loading="lazy" src="assets/images/products/img3_section5.svg" alt="img3_section5" class="img3_section5">
    <img loading="lazy" src="assets/images/products/img4_section5.svg" alt="img4_section5" class="img4_section5">
    <img loading="lazy" src="assets/images/products/img5_section5.svg" alt="img5_section5" class="img5_section5">
    <img loading="lazy" src="assets/images/products/img6_section5.svg" alt="img6_section5" class="img6_section5">
    <img loading="lazy" src="assets/images/products/img7_section5.svg" alt="img7_section5" class="img7_section5">
  </div>
</section>
