<app-account-layout>
  <div class="container-full">
    <div class="main-img">
      <img ngSrc="assets/images/section/900w-5OChOecEn8Q.webp" fill priority alt="">
    </div>
    <div class="content">
      <h1 class="logo"><a href="/">Fasco</a></h1>
      <div class="main-content">
        <h1 class="heading">Tạo tài khoản</h1>
        <div class="flex">
          <div class="flex">
            <img src="assets/images/section/gg.svg" alt="">
            <div>Đăng kí với Google</div>
          </div>
          <div class="flex">
            <img src="assets/images/section/facebook.png" alt="">
            <div>Đăng kí với Facebook</div>
          </div>
        </div>
        <div class="line">- Hoặc -</div>
        <form class="formSignUp" [formGroup]="SignUpForm" (ngSubmit)="onSignUp()">
          <div class="input">
            <label for="SignUpName">
              <input type="text" id="SignUpName" name="name" formControlName="name" placeholder="Họ Tên">
              @if(!SignUpForm.get('name')?.valid && SignUpForm.get('name')?.touched) {
                <span class="error">bạn phải nhập tên tối thiểu 6 kí tự</span>
              } @else {
                <span class="error"></span>
              }
            </label>
            <label for="SignUpAddress">
              <input type="text" id="SignUpAddress" name="address" formControlName="address" placeholder="Địa Chỉ">
              @if(!SignUpForm.get('address')?.valid && SignUpForm.get('address')?.touched) {
                <span class="error">bạn phải nhập địa chỉ tối thiểu 10 kí tự</span>
              } @else {
                <span class="error"></span>
              }
              <span #errorAddress class="error"></span>
            </label>
            <label for="SignUpEmail">
              <input type="email" id="SignUpEmail" name="email" formControlName="email" placeholder="Địa Chỉ Email">
              @if(!SignUpForm.get('email')?.valid && SignUpForm.get('email')?.touched && SignUpForm.get('email')?.dirty) {
                <span class="error">bạn phải nhập địa chỉ Email đúng định dạng</span>
              } @else {
                <span class="error"></span>
              }
            </label>
            <label for="SignUpPhone">
              <input type="text" id="SignUpPhone" name="phone" formControlName="phone" placeholder="Số Điện Thoại">
              @if(!SignUpForm.get('phone')?.valid && SignUpForm.get('phone')?.touched && SignUpForm.get('phone')?.dirty) {
                <span class="error">bạn phải nhập số điện thoại có 10 số</span>
              } @else {
                <span class="error"></span>
              }
            </label>
            <label for="SignUpPassword">
              <input type="password" autocomplete="new-password" name="password" formControlName="password" id="SignUpPassword" placeholder="Mật Khẩu">
              @if(!SignUpForm.get('password')?.valid && SignUpForm.get('password')?.touched) {
                <span class="error">bạn phải nhập mật khẩu tối thiểu 6 kí tự</span>
              } @else {
                <span class="error"></span>
              }
            </label>
            <label for="SignUpConfirm">
              <input type="password" autocomplete="new-password" name="confirmPassword" formControlName="confirmPassword" id="SignUpConfirm" placeholder="Xác Nhận Mật Khẩu">
              @if(!SignUpForm.get('confirmPassword')?.valid && SignUpForm.get('confirmPassword')?.touched) {
                <span class="error">bạn phải nhập xác nhận mật khẩu tối thiểu 6 kí tự</span>
              } @else {
                <span class="error"></span>
              }
              <span #confirmError class="error"></span>
            </label>
          </div>
          <span #formError class="text-center text-red-600 text-[2rem] mt-5"></span>
          <button type="submit" class="sign-up">Đăng Kí</button>
          <div class="flex">
            <a routerLink="/sign-in" routerLinkActive="active"
               ariaCurrentWhenActive="page" class="forget">Đã có tài khoản?</a>
            <a href="/forget-password" class="forget">Quên mật khẩu?</a>
          </div>
        </form>
      </div>
      <div class="footer">FASCO Terms & Codnitions</div>
    </div>
  </div>
  <app-notification message="Đăng kí tài khoản thành công" />
</app-account-layout>
