<app-account-layout>
  <div class="container-full">
    <div class="main-img">
      <img ngSrc="assets/images/section/900w-5OChOecEn8Q.webp" fill priority alt="">
    </div>
    <div class="content">
      <h1 class="logo"><a href="/">Fasco</a></h1>
      <div class="main-content">
        <h1 class="heading">Tạo tài khoản</h1>
        <div class="flex">
          <div class="flex">
            <img src="assets/images/section/gg.svg" alt="">
            <div>Đăng kí với Google</div>
          </div>
          <div class="flex">
            <img src="assets/images/section/facebook.png" alt="">
            <div>Đăng kí với Facebook</div>
          </div>
        </div>
        <div class="line">- Hoặc -</div>
        <form class="formSignUp">
          <div class="input">
            <label for="SignUpName">
              <input type="text" id="SignUpName" placeholder="Họ Tên">
              <span class="error"></span>
            </label>
            <label for="SignUpAddress">
              <input type="text" id="SignUpAddress" placeholder="Địa Chỉ">
              <span class="error"></span>
            </label>
            <label for="SignUpEmail">
              <input type="email" autocomplete="username" id="SignUpEmail" placeholder="Địa Chỉ Email">
              <span class="error"></span>
            </label>
            <label for="SignUpPhone">
              <input type="number" id="SignUpPhone" placeholder="Số Điện Thoại">
              <span class="error"></span>
            </label>
            <label for="SignUpPassword">
              <input type="password" autocomplete="new-password" id="SignUpPassword" placeholder="Mật Khẩu">
              <span class="error"></span>
            </label>
            <label for="SignUpConfirm">
              <input type="password" autocomplete="new-password" id="SignUpConfirm" placeholder="Xác Nhận Mật Khẩu">
              <span class="error"></span>
            </label>
          </div>
          <button type="submit" class="sign-up">Đăng Kí</button>
          <div class="flex">
            <a routerLink="/sign-in" routerLinkActive="active"
               ariaCurrentWhenActive="page" class="forget">Đã có tài khoản?</a>
            <a href="/forget-password" class="forget">Quên mật khẩu?</a>
          </div>
        </form>
      </div>
      <div class="footer">FASCO Terms & Codnitions</div>
    </div>
  </div>
</app-account-layout>
