<app-main-layout>
  <section class="content">
    <section class="section1">
      <div class="header_section1 flex">
        <h1 class="heading">Thanh Toán</h1>
      </div>
      <div class="line"></div>
      <form method="post" action="/page/checkout" class="main-checkout">
        <div class="left">
          <div class="contact flex">
            <div class="top flex">
              <h1>Liên Hệ</h1>
              <p>Đã có tài khoản?
                <a class="text-[1.8rem]" routerLink="/sign-up" routerLinkActive="active"
                                     ariaCurrentWhenActive="page">Tạo tài khoản</a></p>
            </div>
            <label for="emailCheckout">
              <input type="text" id="emailCheckout" placeholder="Email Address">
            </label>
          </div>
          <div class="delivery">
            <h1 class="heading">Vận Chuyển</h1>
            <div class="form flex">
              <label for="checkoutOrder" class="checkoutOrder">
                <input type="text" disabled placeholder="Ngày Đặt Hàng" id="checkoutOrder">
              </label>
              <label for="checkoutName" class="checkoutName">
                <input type="text" placeholder="Họ và Tên" id="checkoutName">
                <span></span>
              </label>
              <label class="checkoutAddress" for="checkoutAddress">
                <input id="checkoutAddress" placeholder="Địa Chỉ" type="text">
                <span></span>
              </label>
              <label for="checkoutPhone">
                <input id="checkoutPhone" placeholder="Số Điện Thoại" type="number">
                <span></span>
              </label>
            </div>
            <div class="checkbox flex">
              <label for="saveInfor">
                <input id="saveInfor" type="checkbox">
              </label>
              Lưu thông tin
            </div>
          </div>
        </div>
        <div class="right">
          <div class="cart_preview flex">
            <div class="cart_item flex">
              <div class="img">
                <img loading="lazy" src="assets/images/products/product5.svg" alt="">
              </div>
              <div class="content_cart flex">
                <h1 class="name">sản phẩm mẫu</h1>
                <div class="color">Màu: #80B0D5</div>
                <div class="quantity">Số lượng: 2</div>
              </div>
              <div class="subTotal">
                400.000
              </div>
            </div>

          </div>
          <div class="rdiscountCode flex">
            <div>Ưu Đãi</div>
            <div id="voucherPlace" class="flex">
              <div class="voucher voucher-6614722b10ebdad8860b8b86 active" data-id="6614722b10ebdad8860b8b86" data-discount="10">Mã : sale10 - Giảm giá: <span class="text-[1.8rem]">10</span>% </div>
            </div>
          </div>
          <div class="total flex">
            <div class="flex">
              <div>Tạm Tính</div>
              <div id="subTotal">400.000</div>
            </div>
            <div id="shipping" class="flex">
              <div>Vận Chuyển</div>
              <div id="shippingOption" class="" data-distance="2.30">
                <div data-id="660e247a76a91a7ffa96b8e1" class="delivery-660e247a76a91a7ffa96b8e1 active">
                  Express - Chậm : 10.000 x 2.30km = <span class="text-[1.8rem]">23.000</span></div>
              </div>
            </div>
            <div class="flex">
              <strong>Tổng</strong>
              <strong id="total" total="118.78">423.000</strong>
            </div>
          </div>
          <button type="submit" class="pay">
            Thanh Toán Ngay
          </button>
          <div class="copyright">
            Copyright © 2022 FASCO . All Rights Reseved.
          </div>
        </div>
      </form>
    </section>
    <app-section7/>
  </section>
</app-main-layout>
