<app-main-layout>
  <div class="head">
    <h1 class="heading">Về Chúng Tôi</h1>
    <div class="flex direction">
      <p class="">Trang Chủ</p>
      <svg xmlns="http://www.w3.org/2000/svg" width="7" height="9" viewBox="0 0 7 9" fill="none">
        <path d="M0.538124 0.140893L0.413829 0.26517C0.331458 0.347542 0.331458 0.4811 0.413829 0.563489L3.85023 3.99991L0.413829 7.43632C0.331458 7.5187 0.331458 7.65225 0.413829 7.73464L0.538124 7.85892C0.620495 7.94129 0.754054 7.94129 0.836425 7.85892L4.54631 4.14906C4.62868 4.06669 4.62868 3.93313 4.54631 3.85074L0.836425 0.140893C0.754054 0.0585044 0.620495 0.0585044 0.538124 0.140893Z" fill="black" stroke="black" stroke-width="0.0175781"/>
      </svg>
      <p class="">Về Chúng Tôi</p>
    </div>
  </div>

  <section class="section1 grid">

    <div class="heading flex">

      <div class="des">
        Câu Chuyện Nhỏ
      </div>

      <div class="title">
        Hành trình phát triển
      </div>

    </div>

    <div class="mid flex">

      <div class="img">
        <img ngSrc="assets/images/about/onlineshopping.jpg" fill alt="" class="img-full">
      </div>

      <div class="des">
        Đến với cửa hàng trực tuyến của chúng tôi - nơi tuyệt vời để khám phá những mặt hàng thời trang và phụ kiện thời thượng. Chúng tôi cam kết mang đến những sản phẩm chất lượng cao cho các tín đồ thời trang Việt Nam và luôn muốn vươn mình ra thế giới để có thể sánh ngang với các thương hiệu hàng đầu.
      </div>

    </div>

    <div class="right">
      Năm 2018, anh Thành và chị Linh khởi nghiệp với một cửa hàng nhỏ bán các sản phẩm thời trang. Bắt đầu với vốn khiêm tốn và một không gian kinh doanh nhỏ, họ âm thầm làm việc, không ngừng nâng cao chất lượng sản phẩm và dịch vụ. Nhờ sự chăm chỉ và tâm huyết, cửa hàng nhỏ bắt đầu được khách hàng ưa chuộng.
      Đến năm 2020, khi đại dịch COVID-19 bùng phát, nhiều doanh nghiệp phải đóng cửa hoặc tạm ngừng hoạt động. Tuy nhiên, với sự linh hoạt và quyết tâm của mình, anh Thành và chị Linh đã nhanh chóng chuyển đổi sang bán hàng trực tuyến. Họ đầu tư xây dựng một website bán hàng chuyên nghiệp, mở rộng kênh phân phối và tiếp cận khách hàng mới.
      <br>
      <br>
      Với sự nỗ lực không ngừng nghỉ, cửa hàng nhỏ của anh Thành và chị Linh đã phát triển vượt bậc, trở thành một trong những thương hiệu thời trang uy tín trên thị trường. Ngày nay, họ không chỉ có một cửa hàng vật lý thành công mà còn là một trong những nhà bán lẻ trực tuyến hàng đầu, đáp ứng nhu cầu của khách hàng trên toàn quốc.
    </div>


  </section>

  <section class="section3 flex">

    <div class="left">

      <img ngSrc="assets/images/about/online-shopping-icon-in-comic-style-smartphone-store-vect-WWCBTT.jpg" fill alt="" class="img-full">

    </div>

    <div class="right">

      <div class="heading">

        <div class="des">
          Phong cách thời trang
        </div>

      </div>

      <div class="detail">
         Chúng tôi luôn mong muốn đa dạng sản phẩm và các loại hàng của mình nhưng chúng tôi vẫn tập trung vào các phong cách chính :
      </div>

      <div class="because flex">

        <div class="line flex">

          <div class="icon">

          </div>

          <div class="detail">
            Phong cách tối giản.
          </div>

        </div>

        <div class="line flex">

          <div class="icon">

          </div>

          <div class="detail">
            phong cách trẻ trung - năng động.
          </div>

        </div>

        <div class="line flex">

          <div class="icon">

          </div>

          <div class="detail">
            Phong cách nổi bật.
          </div>

        </div>

      </div>

    </div>

  </section>

  <section class="section4">

    <div class="heading">
      Vì khách hàng
    </div>

    <div class="detail">
      Để khách hàng của chúng tôi luôn có những trải nghiệm tốt nhất, đội ngũ nhân viên của cửa hàng luôn trau dồi chuyên môn và cách ứng xử của mình nhằm mang dến những phút giấy mua sắm thoải mái đến quý khách hàng.
    </div>

  </section>
</app-main-layout>
