<app-main-layout>
  <div class="head">
    <h1 class="heading">About Fasco Shop</h1>
    <div class="flex direction">
      <p class="">Home</p>
      <svg xmlns="http://www.w3.org/2000/svg" width="7" height="9" viewBox="0 0 7 9" fill="none">
        <path d="M0.538124 0.140893L0.413829 0.26517C0.331458 0.347542 0.331458 0.4811 0.413829 0.563489L3.85023 3.99991L0.413829 7.43632C0.331458 7.5187 0.331458 7.65225 0.413829 7.73464L0.538124 7.85892C0.620495 7.94129 0.754054 7.94129 0.836425 7.85892L4.54631 4.14906C4.62868 4.06669 4.62868 3.93313 4.54631 3.85074L0.836425 0.140893C0.754054 0.0585044 0.620495 0.0585044 0.538124 0.140893Z" fill="black" stroke="black" stroke-width="0.0175781"/>
      </svg>
      <p class="">About</p>
    </div>
  </div>

  <section class="section1 grid">

    <div class="heading flex">

      <div class="des">
        Small Story
      </div>

      <div class="title">
        Development journey
      </div>

    </div>

    <div class="mid flex">

      <div class="img">
        <img ngSrc="assets/images/about/onlineshopping.jpg" fill alt="" class="img-full">
      </div>

      <div class="des">
        Welcome to our online store, your ultimate destination for trendy clothing and accessories. We are committed to delivering high-quality products and exceptional customer service to fashion enthusiasts worldwide. With a wide range of stylish options, we strive to be your go-to source for all your wardrobe needs.
      </div>

    </div>

    <div class="right">

      Quality is our top priority. We carefully curate our collection, selecting only the finest materials and partnering with reliable manufacturers to ensure that every item we offer meets our rigorous standards. From luxurious fabrics to meticulous craftsmanship, we believe that attention to detail is key to providing you with garments and accessories that not only look great but also stand the test of time. At our online store, we understand the importance of a seamless shopping experience. Our user-friendly website is designed to make your browsing and purchasing process easy and enjoyable. You can explore our extensive catalog at your convenience, discovering the latest fashion trends and timeless classics. We offer detailed product descriptions, sizing information, and vibrant images, enabling you to make informed decisions and find the perfect pieces to express your unique style.

      <br>
      <br>

      Thank you for choosing our online store as your fashion destination. We look forward to serving you and providing you with an exceptional shopping experience. Start exploring our collections today and discover the perfect pieces that will elevate your style and make you look and feel fabulous.

    </div>


  </section>

  <section class="section3 flex">

    <div class="left">

      <img ngSrc="assets/images/about/online-shopping-icon-in-comic-style-smartphone-store-vect-WWCBTT.jpg" fill alt="" class="img-full">

    </div>

    <div class="right">

      <div class="heading">

        <div class="des">
          Style Fashion
        </div>

      </div>

      <div class="detail">
        Elegance, elegance and sophistication are the main inspirations in creating wedding dress designs at Nicole Bridal. Minimalist style wedding dresses have become the trend of choosing wedding dresses for couples because:
      </div>

      <div class="because flex">

        <div class="line flex">

          <div class="icon">

          </div>

          <div class="detail">
            Attracts all eyes to the you.
          </div>

        </div>

        <div class="line flex">

          <div class="icon">

          </div>

          <div class="detail">
            Continuing the emotional flow.
          </div>

        </div>

        <div class="line flex">

          <div class="icon">

          </div>

          <div class="detail">
            Focus on every precious moment.
          </div>

        </div>

      </div>


    </div>

  </section>

  <section class="section4">

    <div class="heading">
      For Customers
    </div>

    <div class="detail">
      Constantly striving to learn and improve, Fasco shop always wants to be a breath of fresh air in the wedding dress fashion industry in Vietnam. And of course this mark comes not only from fashion style but also from the thoughtfulness, meticulousness, and dedication of the Fasco Shop team to each product as well as each customer throughout the years.
    </div>

  </section>
</app-main-layout>
