<section class="section3 flex">
  <div class="content_left">
    <div class="top_content">
      <h1 class="heading">
        Ưu đãi của tháng
      </h1>
      <p>
        Tháng ưu đãi hấp dẫn tại công ty chúng tôi! Trong tháng này, chúng tôi mang đến những ưu đãi đặc biệt cho khách hàng thân thiết, bao gồm giảm giá lên đến 50%, miễn phí giao hàng và nhiều chương trình khác. Hãy nhanh tay lên, ưu đãi chỉ diễn ra trong thời gian giới hạn.
      </p>
      <app-main-button href="/shop" message="mua ngay" class="mt-[3rem] px-[3rem] py-[1rem]" />
    </div>
    <div class="bottom_content">
      <div class="heading">
        Nhanh, trước khi quá trễ !
      </div>
      <div class="flex">
        <div class="flex">
          <div class="flex">
            <img loading="lazy" src="assets/images/section/02.svg" alt="">
          </div>
          <div>
            Ngày
          </div>
        </div>
        <div class="flex">
          <div class="flex">
            <img loading="lazy" src="assets/images/section/06.svg" alt="">
          </div>
          <div>
            Giờ
          </div>
        </div>
        <div class="flex">
          <div class="flex">
            <img loading="lazy" src="assets/images/section/05.svg" alt="">
          </div>
          <div>
            Phút
          </div>
        </div>
        <div class="flex">
          <div class="flex">
            <img loading="lazy" src="assets/images/section/30.svg" alt="">
          </div>
          <div>
            Giây
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="content_right">
    <div class="main_img">
      <img loading="lazy" src="assets/images/section/bannnder1.svg" alt="">
    </div>
  </div>
  <svg class="selector" xmlns="http://www.w3.org/2000/svg" width="142" height="78" viewBox="0 0 142 78" fill="none">
    <g filter="url(#filter0_d_105_349)">
      <circle cx="39" cy="35" r="24" transform="rotate(180 39 35)" fill="white"/>
    </g>
    <path d="M41.9999 42L34.9999 35L41.9999 28" stroke="#B6B6B6" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
    <g filter="url(#filter1_d_105_349)">
      <circle cx="103" cy="35" r="24" fill="white"/>
    </g>
    <path d="M100 28L107 35L100 42" stroke="black" stroke-width="1.8" stroke-linecap="round" stroke-linejoin="round"/>
    <defs>
      <filter id="filter0_d_105_349" x="0" y="0" width="78" height="78" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feMorphology radius="1" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_105_349"/>
        <feOffset dy="4"/>
        <feGaussianBlur stdDeviation="7"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_105_349"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_105_349" result="shape"/>
      </filter>
      <filter id="filter1_d_105_349" x="64.0001" y="0" width="78" height="78" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
        <feFlood flood-opacity="0" result="BackgroundImageFix"/>
        <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"/>
        <feMorphology radius="1" operator="dilate" in="SourceAlpha" result="effect1_dropShadow_105_349"/>
        <feOffset dy="4"/>
        <feGaussianBlur stdDeviation="7"/>
        <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.16 0"/>
        <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_105_349"/>
        <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_105_349" result="shape"/>
      </filter>
    </defs>
  </svg>
  <div class="selector2 flex">
    <svg xmlns="http://www.w3.org/2000/svg" width="27" height="27" viewBox="0 0 27 27" fill="none">
      <circle opacity="0.7" cx="13.5" cy="13.5" r="13" stroke="black"/>
      <circle cx="13.5" cy="13.5" r="5" fill="black" stroke="black"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
      <circle cx="5.5" cy="5.5" r="5.5" fill="#B6B6B6"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
      <circle cx="5.5" cy="5.5" r="5.5" fill="#B6B6B6"/>
    </svg>
    <svg xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11" fill="none">
      <circle cx="5.5" cy="5.5" r="5.5" fill="#B6B6B6"/>
    </svg>
  </div>
  <div class="banner1_img">
    <img loading="lazy" src="assets/images/section/banner1_img.svg" alt="">
  </div>
  <div class="banner2_img">
    <img loading="lazy" src="assets/images/section/banner2_img.svg" alt="">
  </div>
</section>
