<header class="header flex">
  <h1 class="logo">
    <a routerLink="/" routerLinkActive="active"
       ariaCurrentWhenActive="page" class="logo">FASCO</a>
  </h1>
  <nav class="navbar flex">
    <a routerLink="/" routerLinkActive="active"
       ariaCurrentWhenActive="page">Trang Chủ</a>
    <a routerLink="/shop" routerLinkActive="active"
       ariaCurrentWhenActive="page">Cửa Hàng</a>
    <a routerLink="/about" routerLinkActive="active"
       ariaCurrentWhenActive="page">Về Chúng tôi</a>
    <a routerLink="/contact" routerLinkActive="active"
       ariaCurrentWhenActive="page">Liên Hệ</a>
  </nav>
  <div class="icon flex relative">
    <ng-icon size="20" name="faSolidMagnifyingGlass"></ng-icon>
    @if(!isLogin) {
      <ng-icon class="cursor-pointer" routerLink="/sign-in"  routerLinkActive="active"
               ariaCurrentWhenActive="page" size="20" name="faUser">
      </ng-icon>
    } @else {
      <ng-icon class="cursor-pointer" routerLink="/account"  routerLinkActive="active"
               ariaCurrentWhenActive="page" size="20" name="faUser">
      </ng-icon>
    }
    <ng-icon class="cursor-pointer" routerLink="/history" routerLinkActive="active"
             ariaCurrentWhenActive="page" size="20" name="faSolidClockRotateLeft">
    </ng-icon>
    <ng-icon class="cursor-pointer" routerLink="/cart" routerLinkActive="active"
             ariaCurrentWhenActive="page" size="20" name="faSolidBagShopping">
    </ng-icon>
    @if(cartLength > 0) {
      <span class="cartLength">{{cartLength}}</span>
    }
  </div>
</header>
