<header class="header flex">
  <h1 class="logo">
    <a href="/" class="logo">FASCO</a>
  </h1>
  <nav class="navbar flex">
    <a routerLink="/" routerLinkActive="active"
       ariaCurrentWhenActive="page">home</a>
    <a routerLink="/shop" routerLinkActive="active"
       ariaCurrentWhenActive="page">shop</a>
    <a routerLink="/about" routerLinkActive="active"
       ariaCurrentWhenActive="page">about</a>
    <a routerLink="/contact" routerLinkActive="active"
       ariaCurrentWhenActive="page">contact</a>
  </nav>
  <div class="icon flex">
    <ng-icon size="20" name="faSolidMagnifyingGlass"></ng-icon>
    <ng-icon class="cursor-pointer" routerLink="/sign-in" routerLinkActive="active"
             ariaCurrentWhenActive="page" size="20" name="faUser">
    </ng-icon>
    <ng-icon class="cursor-pointer" routerLink="/history" routerLinkActive="active"
             ariaCurrentWhenActive="page" size="20" name="faSolidClockRotateLeft">
    </ng-icon>
    <ng-icon class="cursor-pointer" routerLink="/cart" routerLinkActive="active"
             ariaCurrentWhenActive="page" size="20" name="faSolidBagShopping">
      <span class="cartLength none">1</span>
    </ng-icon>
  </div>
</header>
